html {

    height: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;

    --bg: #FCFCFC;
    --bg-panel: #EBEBEB;
    --color-headings: #1f1f24;
    --color-text: #333333;
}

body {
    background-color: var(--bg);
    transition: .3s ease-in-out
}

.container {
    background-color: var(--bg-panel);
    margin: 5em;
    padding: 5em;
    border-radius: 15px;
    transition: .3s ease-in-out

}

header { display: flex; }

ul {
    list-style: none;
    display: flex;
    padding: 0;
}

.social-media {
    width: 40px;
    fill: var(--bg-panel);
    margin-right: 10px;
    transition: .3s ease-in;
}

.social-media:hover {
    transform: scale(1.1);
    cursor: pointer;
}

.profile-photo {
    height: 140px;
    width: 140px;
    border-radius: 50%; 
    margin-right: 20px;
    border: 2px solid #fff
}

h1 {
    margin: 0;
    color: var(--color-headings);
}

p {
    color: var(--color-text);
    font-size: 1.1em;
    line-height: 1.8em;
}
 /* toggle style */
 

 .toggle {
    margin-bottom: 20px;
    height: 30px;
 }

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
}

label {
    cursor: pointer;
    text-indent: -9999px;
    width: 52px;
    height: 27px;
    background: grey;
    float: right;
    border-radius: 100px;
    position: relative;
}

label::after{
    content: '';
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background-color: white;
    border-radius: 90px;
    transition: 0.3s;
}

input:checked + label {
    background-color: #5bacff;
}

input:checked + label::after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
}

label:active:after {
    width: 45px;
}
